<p id="notice"><%= notice %></p>

<h1>Toutes les pharmacies</h1>

<%= link_to 'Ajouter une pharmacie', new_pharm_path, class:'btn btn-success'%>

<table class="table">
  
    <% @pharms.each do |pharm| %>
      <tr>
        <td><%= pharm.commune %></td>
        <td><%= pharm.pharma_name %></td>
        <td><%= pharm.owner_name %></td>
    
        <td><%= pharm.tel %></td>
        <td>
            <%= link_to 'Show', pharm, class:'btn btn-secondary' %>
            <%= link_to 'Edit', edit_pharm_path(pharm), class:'btn btn-primary' %>
            <%= link_to 'Destroy', pharm, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-warning' %>
      </td>
 
      </tr>

      
      
    <% end %>
 
</table>
 

